
@font-face {
  font-family: 'DIN Black';
  src: url('assets/fonts/DIN Black.eot');
  src: url('assets/fonts/DIN Black.woff') format('woff'), url('assets/fonts/DIN Black.ttf') format('truetype'), url('assets/fonts/DIN Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Regular';
  src: url('fonts/DIN Regular.eot');
  src: url('assets/fonts/DIN Regular.woff') format('woff'), url('assets/fonts/DIN Regular.ttf') format('truetype'), url('assets/fonts/DIN Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Medium Alternate';
  src: url('assets/fonts/DIN Medium Alternate.eot');
  src: url('assets/fonts/DIN Medium Alternate.woff') format('woff'), url('assets/fonts/DIN Medium Alternate.ttf') format('truetype'), url('assets/fonts/DIN Medium Alternate.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumMaps_500_WT';
  src: url('assets/fonts/TitilliumMaps_500_WT.eot');
  src: url('assets/fonts/TitilliumMaps_500_WT.woff') format('woff'), url('assets/fonts/TitilliumMaps_500_WT.ttf') format('truetype'), url('assets/fonts/TitilliumMaps_500_WT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumMaps_750_WT';
  src: url('assets/fonts/TitilliumMaps_750_WT.eot');
  src: url('assets/fonts/TitilliumMaps_750_WT.woff') format('woff'), url('assets/fonts/TitilliumMaps_750_WT.ttf') format('truetype'), url('assets/fonts/TitilliumMaps_750_WT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumMaps_250_WT';
  src: url('assets/fonts/TitilliumMaps_250_WT.eot');
  src: url('assets/fonts/TitilliumMaps_250_WT.woff') format('woff'), url('assets/fonts/TitilliumMaps_250_WT.ttf') format('truetype'), url('assets/fonts/TitilliumMaps_250_WT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container
{
	width: 100% !important;
	padding-left: 0;
	padding-right: 0;
}

.header_div
{
  width: 100%;
  /* height: 160px; */
  background-color: #f4eed6;
  position: relative;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
  position: fixed;
  z-index: 300;
  display: table;
}



/********* Nav Bar Mobile **********/


.mobile_nav
{
  display: none;
}

.navbar-header
{
  /*height: 180px;*/
  background-color: #f4eed6;
}

.navbar-brand
{
  display: block;
  /* height: inherit; */
  /* height: 120px; */
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.navbar-brand > img 
{
    display: block;
    /*width: 30%;*/
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggle 
{
  position: relative;
  float: none; 
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  border: none;
  color: #1d1d1b !important;
}

.navbar-toggle:focus, .navbar-toggle:hover
{
  background-color: transparent !important;
  border: none !important;
  color: #1d1d1b !important;
}

#navbar
{
  background-color: #f4eed6;
  border: none;
}

.nav > li 
{
  text-align: center;
}

.nav > li:hover, .navbar-toggle:hover
{
  opacity: 0.75
}

.navbar-nav > li > a
{
  letter-spacing: 3px;
  color: #1d1d1b !important;
  text-transform: uppercase;
}
/***********************************/
.fake_head
{
  width: 100%;
}

.sep_div
{
  width: 100%;
  height: 1px;
  background-color: #f4eed6;
}
.logo_div 
{
  width: 20%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  /* display: inline-block; */
  /* float: left; */
}

.logo_div img
{
  width: 55%;
}

.nav_rest
{
  width: 80%;
  /* display: inline; */
  /* float: right; */
  text-align: center;
  /* margin-right: 6%; */
  display: table-cell;
  vertical-align: middle;
  padding-left: 2%;
}

.nav_rest a
{
  text-decoration: none;
}

.nav_rest a:hover
{
  opacity: 0.75;
}

.nav_rest span 
{
  font-family: 'TitilliumMaps_500_WT';
  font-size: 11px;
  color: #1d1d1b;
  text-transform: uppercase;
  margin-right: 2.5%;
  letter-spacing: 3px;
}

.bro_btn img 
{
  width: 100px;
}

/********** Spinner ************/

#loading
{
    background-color: #f4eed6;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    /*display: none;*/
}
/*.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}*/

.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.rect1
{
  background-color: #6f3256;
}
.rect2
{
  background-color: #e4be11;
}
.rect3
{
  background-color: #c8801e;
}
.rect4
{
  background-color: #608498;
}
.rect5
{
  background-color: #1d1d1b;
}
.spinner > div {
  /*background-color: #6f3256;*/
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/**********************************/

.down_btn
{
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  z-index: 200;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.down_btn:hover
{
  cursor: pointer;
  opacity: 0.7;
}

.down_btn img
{
  width: 100%
}

.hephaistos .tp-bullet
{
  background: transparent;
  border: 2px solid #f4eed6;
}

.hephaistos .tp-bullet.selected
{
  background: #f4eed6 !important;
  border-color: #f4eed6 !important;
}
.slider_div
{
  width: 100%;
}

.custom_overlay
{
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.5;
  z-index: 99;
  top: 0;
  left: 0;
  display: none;
}
.feat_div_2
{
  display: none;
}

.feat_cols
{
  height: 250px;
  width: 20%;
  padding: 0;
  text-align: center;
  display: table;
  position: relative;
}

.feat_cols:hover
{
  cursor: pointer;
}

.feat_cols:hover .icon_img
{
  opacity: 0.7;
}

.feat_cols .icon_img
{
  display: table-cell;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 8px;
}

.feat_cols img
{
  width: 100%;
  margin-bottom: 15px;
}

.feat_cols span
{
  font-family: 'TitilliumMaps_750_WT';
  font-size: 14px;
  color: #f6f0d9;
  text-transform: uppercase;
  display: block;
  letter-spacing: 3px;
  /*letter-spacing: 3px;*/
}

.feat_div .feats_sub
{
  height: 0;
}

/*********** Feature 1 *************/

.loc_div
{
  background-color: #608498;
}

.feat_1_1
{
  width: 100%;
  position: absolute;
  background-color: #608498;
  top: 0;
  left: 0;
  /*display: none;*/
  opacity: 0;
  z-index: 100;
  padding: 30px;

  -webkit-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;

  overflow: auto;
}

.feat_1_1 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.feat_1_2
{
  width: 100%;
  position: absolute;
  background-color: #608498;
  top: 0;
  left: 0;
  /*display: none;*/
  opacity: 0;
  z-index: 100;

  -webkit-transition: top 0.5s, opacity 0.5s;
  transition: top 0.5s, opacity 0.5s;
}
/*************************************/

/*********** Feature 2 *************/

.town_div
{
  background-color: #6f3256;
}

.feat_2
{
  width: 100%;
  position: absolute;
  background-color: #6f3256;
  top: 0;
  left: 0;
  /*display: none;*/
  opacity: 0;
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;

  -webkit-transition: top 0.5s, opacity 0.5s;
  transition: top 0.5s, opacity 0.5s;

  overflow: auto;
}

.feat_2 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: center;
  padding-top: 10px;
}
/*************************************/

/*********** Feature 3 *************/

.des_div
{
  background-color: #cb801e;
}

.feat_3
{
  width: 100%;
  position: absolute;
  background-color: #cb801e;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  padding: 30px;

  -webkit-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;

  overflow: auto;
}

.feat_3 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: center;
}
/*************************************/

/*********** Feature 4 *************/

.finish_div
{
  background-color: #6f3256;
}

.feat_4
{
  width: 100%;
  position: absolute;
  background-color: #6f3256;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  /*padding: 30px;*/
  padding: 16px;

  -webkit-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;

  overflow: auto;
  display: table;
}

.feat_4 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
/*************************************/

/*********** Feature 5 *************/

.delivery_div
{
  background-color: #cb801e;
}

.feat_5
{
  width: 100%;
  position: absolute;
  background-color: #cb801e;
  top: 0;
  left: 0;
  /*display: none;*/
  opacity: 0;
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;

  -webkit-transition: top 0.5s, opacity 0.5s;
  transition: top 0.5s, opacity 0.5s;

  overflow: auto;
}

.feat_5 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: center;
  padding-top: 10px;
}
/*************************************/

/*********** Feature 6 *************/

.price_div
{
  background-color: #6f3256;
}

.feat_6
{
  width: 100%;
  position: absolute;
  background-color: #6f3256;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  padding: 30px;

  -webkit-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;

  display: table;
  overflow: scroll;
}

.feat_6 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
/*************************************/

/*********** Feature 7 *************/

.comm_div
{
  background-color: #608498;
}

.feat_7
{
  width: 100%;
  position: absolute;
  background-color: #608498;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  padding: 30px;

  -webkit-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;

  overflow: auto;
  display: table;
}

.feat_7 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
/*************************************/

/*********** Feature 8 *************/

.green_div
{
  background-color: #e4be11;
}

.feat_8
{
  width: 100%;
  position: absolute;
  background-color: #e4be11;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  padding: 30px;

  -webkit-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;

  overflow: auto;
  display: table;
}

.feat_8 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
/*************************************/

/*********** Feature 2 *************/

.fac_div
{
  background-color: #cb801e;
}

.feat_9
{
  width: 100%;
  position: absolute;
  background-color: #cb801e;
  bottom: 0;
  left: 0;
  /*display: none;*/
  opacity: 0;
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;

  -webkit-transition: bottom 0.5s, opacity 0.5s;
  transition: bottom 0.5s, opacity 0.5s;

  overflow: auto;
}

.feat_9 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: center;
  padding-bottom: 20px;
}
/*************************************/

/*********** Feature 10 *************/

.mat_div
{
  background-color: #608498;
}

.feat_10
{
  width: 100%;
  position: absolute;
  background-color: #608498;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 100;
  padding: 30px;

  -webkit-transition: right 0.5s, opacity 0.5s;
  transition: right 0.5s, opacity 0.5s;

  overflow: auto;
  display: table;
}

.feat_10 p
{
  font-family: 'DIN Regular';
  font-size: 11px;
  color: #f6f0d9;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
/*************************************/

.feat_div_2 .left_feat .feats_sub
{
  top: 0;
  left: 0;
  right: inherit;
  -webkit-transition: width 0.5s height 0.5s opacity 0.5s;
  transition: width 0.5s height 0.5s opacity 0.5s;
  width: 100%;
  height: 0;
  text-align: center;
}

.feat_div_2 .right_feat .feats_sub
{
  top: 0;
  left: inherit;
  right: 0;
  -webkit-transition: width 0.5s height 0.5s opacity 0.5s;
  transition: width 0.5s height 0.5s opacity 0.5s;
  width: 100%;
  height: 0;
  text-align: center;
}

.feats_sub .icon_img
{
  display: block;
  margin-bottom: 40px;
}

.feats_sub .icon_img img
{
  width: 60%;
  margin-bottom: 0;
  -webkit-transition: width 0.5s height 0.5s opacity 0.5s;
  transition: width 0.5s height 0.5s opacity 0.5s;
}
.feat_div_2 .feats_sub p
{
  text-align: center;
  display: block;
}

.feat_div_2 .feat_cols
{
  width: 50%;
  height: inherit;
  text-align: center;
  display: table;
  position: relative;
  padding-bottom: 50px;
  padding-top: 30px;
  transition: width 0.5s;
}

.model_1_header
{

  width: 100%;
  height: 110px;
  background-color: #c6801c;
  position: relative;
}

.model_2_header
{

  width: 100%;
  height: 110px;
  background-color: #6f3256;
  position: relative;
}

.model_3_header
{

  width: 100%;
  height: 110px;
  background-color: #608498;
  position: relative;
}

.spans 
{
  color: #f6f0d9;
  text-transform: uppercase;
}

.models_spans_div_left
{
  position: absolute;
  left: 3.5%;
  bottom: 29%;
  /*bottom: 10%;*/
}

.models_spans_div_left .bottom_span
{
  font-family: 'DIN Black';
  font-size: 30px;
}

.models_spans_div_right
{
  position: absolute;
  right: 3.5%;
  bottom: 29%;
  /*bottom: 10%;*/
}

.models_spans_div_right .top_span
{
  font-family: 'TitilliumMaps_750_WT';
  font-size: 30px;
  display: inline-block;
  /*display: block;*/
  text-align: right;
}

.models_spans_div_right .bottom_span
{
  font-family: 'DIN Black';
  font-size: 30px;
}

.model_1_img_div img
{
  width: 100%;
}

.model_1_title, .model_2_title, .model_3_title
{
  position: absolute;
  right: 3.5%;
  top: 3%;
  width: 118px;
  background-color: #c6801c;
  text-align: center;
  padding: 5px;
  padding-bottom: 2px;
  padding-top: 3px;
}

.model_1_title
{
  background-color: #c6801c;
}

.model_2_title
{
  background-color: #6f3256;
}

.model_3_title
{
  background-color: #608498;
}

.model_1_title span, .model_2_title span, .model_3_title span
{
  font-family: 'DIN Medium Alternate';
  font-size: 14px;
  color: #f6f0d9;
  text-transform: uppercase;
}

.model_1_2_img_div
{
  position: relative;
  text-align: center;
  background-color: #f6f0d9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.model_1_2_img_div img
{
  width: 40%;
}

.light_custom
{
  background-color: #f4eed6;
}

/*.model_3_1_img_div
{
  position: relative;
  text-align: center;
  background-color: #608498;
  padding-top: 20px;
  padding-bottom: 20px;
}

.model_3_1_img_div img
{
  width: 40%;
}*/

.master_plan_header
{

  width: 100%;
  height: 110px;
  background-color: #608498;
  position: relative;
}

.master_plan_spans_div_left
{
  position: absolute;
  left: 3.5%;
  bottom: 10%;
}

.master_plan_spans_div_left .top_span
{
  font-family: 'TitilliumMaps_750_WT';
  font-size: 30px;
  display: block;
  text-align: right;
}

.master_plan_spans_div_left .bottom_span
{
  font-family: 'DIN Black';
  font-size: 30px;
}

.master_plan_img_div
{
  position: relative;
  text-align: center;
  background-color: #f6f0d9;
  padding-top: 20px;
  padding-bottom: 40px;
}

.master_plan_img_div img
{
  width: 75%;
}

.master_plan_img_div p 
{
  font-family: 'DIN Regular';
  font-size: 14px;
  color: #595757;

  /*position: absolute;
  left: 3.5%;
  top: 3%;
  width: 262px;*/
  text-align: left;
}

.direction_map_img_div
{
  position: relative;
  text-align: center;
  background-color: #f4eed6;
  padding-bottom: 40px;
}

.direction_map_img_div img
{
  width: 40%;
}

.about_dev_header
{

  width: 100%;
  height: 110px;
  background-color: #6f3256;
  position: relative;
}

.about_dev_spans_div_left
{
  position: absolute;
  left: 3.5%;
  bottom: 10%;
}

.about_dev_spans_div_left .top_span
{
  font-family: 'TitilliumMaps_750_WT';
  font-size: 30px;
  display: block;
  text-align: left;
}

.about_dev_spans_div_left .bottom_span
{
  font-family: 'DIN Black';
  font-size: 30px;
}

.about_dev_2
{
  display: none;
}
.about_left_col
{
  background-color: #628497;
  padding: 15px;
  /*height: 400px;*/
}

.about_left_col_mid
{
  padding: 10px;
}

.about_left_col_mid p
{
  font-family: 'DIN Regular';
  font-size: 13px;
  color: #f6f0d9;
  text-align: right;
}

.about_left_col_right
{
  padding: 15px;
  text-align: right;
  padding-right: 0;
  margin-bottom: 20px;
}

.about_left_col_right img
{
  width: 70%;
}

.about_right_col
{
  background-color: #c8801e;
  padding: 15px;
  padding-bottom: 40px;
  /*height: 400px;*/
}

.about_right_col_1, .about_right_col_2
{
  padding: 10px;
}

.about_right_col_1 p, .about_right_col_2 p
{
  font-family: 'DIN Regular';
  font-size: 13px;
  color: #f6f0d9;
  text-align: right;
}

.about_right_col_3
{
  padding: 15px;
  text-align: right;
  padding-right: 0;
  margin-bottom: 5px;
  margin-right: -13px;
}

.about_right_col_3 img
{
  width: 40%;
}


/************ Footer *************/


.footer
{

  width: 100%;
  height: 130px;
  background-color: #6f3256;
  position: relative;
  display: table;
}

.footer .spans
{
  font-family: 'TitilliumMaps_250_WT';
  font-size: 15px;
  color: #f6f0d9;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer_spans_div_left
{
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;
  width: 50%;
}

.footer_spans_div_left .spans 
{
  margin-bottom: 3px;
}

.footer_spans_div_left .last_span 
{
  margin-top: 3px;
}
    
.footer_spans_div_left .right_span
{
  margin-left: 27px;
  display: inline-block;
}

.block_spans
{
  display: block;
}

.footer_spans_div_right
{
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  padding-right: 10px;
}

.footer_spans_div_right img
{
  width: 40%;
  margin-left: 10px;
}

/********* Modal ***********/

.md-close, .md-trigger
{
    display: none;
}

.md-close
{
  position: absolute;
  top: -10px;
  right: -10px;
  border: solid 1px #575756;
  color: #575756;
  background-color: #f4eed6;
}

.md-close:hover
{
  color: #f4eed6;
  background-color: #575756;
  border-color: #f4eed6;
}

.md-content > div
{
  padding-bottom: 0 !important;
}

.md-content img
{
    margin-right: 10px;
    width: 5%;
    margin-bottom: 3px;
}

.send_spin, .succ_div
{
  display: none;
  text-align: center;
}

.md-content
{
  background: #f4eed6 !important;
  /*border: solid 2px #6f3256;*/
  overflow-y: auto !important;
  overflow-x: inherit;
  max-height: 500px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.md-modal
{
  min-width: 270px !important;
}

.md-content h3
{
  background: #f4eed6!important;
  color: #575756;
  font-family: 'TitilliumMaps_750_WT';
  letter-spacing: 4px;
  font-size: 17px !important;
  text-transform: uppercase;
  margin-bottom: 20px !important;
}

.form-horizontal .control-label
{
  color: #575756;
  font-family: 'TitilliumMaps_500_WT';
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.form-group div 
{
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
.form-control
{
  border: none;
  color: #575756;
  border-radius: 0;
  background-color: #e9ddb6;
  height: 45px;
}

.form-control:focus {
  border-color: #575756;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.send_spin span , .succ_div span 
{
  font-family: 'TitilliumMaps_500_WT';
  color: #575756;
}
.form_btns, .download_pdf_btn input
{

  color: #575756;
  background-color: #f4eed6;
  border-color: #575756;

  border-radius: 0;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'TitilliumMaps_500_WT';
}
.form_btns:hover, .download_pdf_btn input:hover
{
  color: #f4eed6;
  background-color: #575756;
  border-color: #f4eed6;
}

.download_pdf_btn
{
  text-align: center;
  display: none;
}

.gform_wrapper, #gforms_confirmation_message
{
    display: none;
}

/*****************************/

@media screen and (max-width: 1060px) {

  .feat_6
  {
    display: block;
  }

  .bro_btn img
  {
    margin-top: 5px;
  }
} 
@media screen and (max-width: 962px) {

  .feat_10
  {
    display: block;
  }

}  

@media screen and (max-width: 850px) {

  .feat_8
  {
    display: block;
  }

} 

@media screen and (max-width: 787px) {

  .feat_8
  {
    display: block;
  }

} 

@media screen and (max-width: 767px) {

  .mobile_nav, .feat_div_2
  {
    display: block;
  }

  .header_div, .feat_div
  {
    display: none;
  }

  .models_spans_div_left, .models_spans_div_right
  {
    bottom: 15%;
  }
  .models_spans_div_left .bottom_span, .models_spans_div_right .top_span, .models_spans_div_right .bottom_span,
  .master_plan_spans_div_left .top_span, .master_plan_spans_div_left .bottom_span, .about_dev_spans_div_left .top_span, .about_dev_spans_div_left .bottom_span
  {
    font-size: 25px;
  }

  .models_spans_div_left
  {
    position: relative;
    left: inherit;
    text-align: center;
  }

  .models_spans_div_right
  {
    position: relative;
    right: inherit;
    text-align: center;
  }
  .models_spans_div_right .top_span
  {
    display: inline;
  }
  .master_plan_text
  {
    margin-bottom: 10px;
  }

  .model_1_header, .model_2_header, .model_3_header, .master_plan_header, .about_dev_header
  {
    height: inherit;
  }
  .master_plan_spans_div_left, .about_dev_spans_div_left
  {
    position: relative;
    left: inherit;
    bottom: inherit;
  }

  .master_plan_spans_div_left .top_span, .master_plan_spans_div_left .bottom_span,
  .about_dev_spans_div_left .top_span, .about_dev_spans_div_left .bottom_span
  {
    display: block;
    text-align: center;
  }

  .model_1_title, .model_2_title, .model_3_title
  {
    width: inherit;
  }
  .model_1_title span, .model_2_title span, .model_3_title span
  {
    font-size: 12px;
  }

  .model_1_2_img_div img
  {
    width: 80%;
    margin-top: 30px;
  }

  .direction_map_img_div img
  {
    width: 65%;
  }

  .about_left_col, .about_right_col
  {
    height: inherit;
  }
  .about_left_col_mid p, .about_right_col_1 p, .about_right_col_2 p
  {
    text-align: left;
  }
  .about_left_col_right
  {
    width: 60%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;

    padding: 15px;
    text-align: center;
    margin-bottom: 0px;
  }

  .about_right_col_3
  {
    width: 35%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;

    padding: 15px;
    text-align: center;
    padding-right: 0;
    margin-bottom: 0;
    margin-right: auto;
  }

  .about_right_col_3 img 
  {
    width: 80%;
  }

  .about_dev
  {
    display: none;
  }

  .about_dev_2
  {
    display: block;
  }

  .footer
  {
    display: block;
    height: inherit;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .footer_spans_div_left
  {
    display: block; 
    padding-left: 0; 
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 10px;
  }

  .footer_spans_div_left .spans
  {
    margin-bottom: 1px;
  }

  .footer_spans_div_right
  {
    width: 100%;
    display: block; 
    text-align: center;
  }

  .footer_spans_div_right img
  {
    width: 24%;
  }

  .footer_spans_div_left .last_span
  {
    margin-bottom: 10px;
  }

  .footer .spans
  {
    font-size: 14px;
  }

  .form-group label
    {
        width: 100%;
        text-align: center !important;
        margin-bottom: 5px;
    }

    .form-group input
    {
        text-align: center;
    }

    .form-group div
    {
        width: 100%;
        text-align: center;
    }

    #modal-1 .md-content
    {
        height: 500px;
        overflow: scroll;
    }

}

@media screen and (max-width: 693px) {

  .feat_7
  {
    display: block;
  }

} 

@media screen and (max-width: 513px) {

  .form-horizontal .control-label, .form_btns
  {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 479px) {

.models_spans_div_left .bottom_span, .models_spans_div_right .top_span, .models_spans_div_right .bottom_span,
.master_plan_spans_div_left .top_span, .master_plan_spans_div_left .bottom_span, .about_dev_spans_div_left .top_span, .about_dev_spans_div_left .bottom_span
  {
    font-size: 20px;
  }

}

@media screen and (max-width: 400px) {

.footer .spans
{
  font-size: 12px;
}

.md-modal .md-content
{
  max-height: 400px;
}

.about_left_col_right
{
  width: 100%;
}

.about_right_col_3
{
  width: 60%;
}

}

@media screen and (max-width: 400px) {


.feat_cols span
{
  font-size: 12px;
}

}
